@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0E111A;
  height: 100%;
  min-width: 320px !important;
}
._section {
  @apply w-full
}
._wrapper {
  @apply px-5 max-w-[1200px] mx-auto
}
._h2 {
  @apply text-[60px] bg-gradient-to-r from-_orange to-[#FF932F] inline-block text-transparent bg-clip-text drop-shadow-lg uppercase
}
._24px{
  @apply text-[24px] font-medium
}
._20px-extrabold{
  @apply text-[20px] font-extrabold
}